# Archivos de compilación de rust
/target

# Otros archivos compilados
*.o
*.a

# Imagen de disco rígido
hdd.img

# Cache de pytest
python/__pycache__

# IDE
.idea

# Userland
user/hello
user/syscall.h
